<div class="container">
<div class="row">
<div class="col-md-12">

    <div class="row">
        <div class="col-xs-12">
            <div class="row form-group">
                <label class="col-md-1" for="task">Task</label>
                <input class="col-md-3" type="text" [(ngModel)]="task.task" name="task">
                <label class="col-md-2" for="parentTask">Parent Task</label>
                <input class="col-md-3" type="text" [(ngModel)]="task.parentTask" name="parentTask" >
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-xs-12">
                <div class="row form-group">
                    <label for="priority"  class="col-md-1" >Priority From</label>
                    <input class="col-md-1" type="text" [(ngModel)]="task.priorityFrom" name="priorityFrom" >
                    <label for="parent"  class="col-md-1" >Priority To</label>
                    <input class="col-md-1" type="text" [(ngModel)]="task.priorityTo" name="priorityTo"  >
                    <label class="col-md-2" for="startDate" >Start Date</label>
                    <input class="col-md-2" type="text" [(ngModel)]="task.startDate" name="startDate"  >
                    <label class="col-md-2" for="endDate" >End Date</label>
                    <input class="col-md-2" type="text" [(ngModel)]="task.endDate"  name="endDate"  >
                </div>
            </div>
        </div>
</div>
</div><hr>
<div>
    <table>
        <tbody *ngFor="let task of taskList | filter : 'task' : task.task | filter : 'parentTask' : task.parentTask  
        | filter : 'priorityFrom' : task.priorityFrom | filter : 'priorityTo' : task.priorityTo
        | filter : 'startDate' : task.startDate | filter : 'endDate' : task.endDate ; let i = index">
            <tr>
                <th>Task</th>
                <th>Parent</th>
                <th>Priority</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>{{task.task}}</td>
                <td>{{task.parentTask}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.startDate | date:'dd-MM-yyyy'}}</td>
                <td>{{task.endDate  | date:'dd-MM-yyyy'}}</td>
                <td><button type="button" (click)="editTask(task)" class="btn btn-secondary" [disabled]="task.status !== 'active'">Edit</button>&nbsp;&nbsp;</td>
                <td><button type="button" class="btn btn-secondary" (click)="endTask(task)" [disabled]="task.status !== 'active'">End Task</button> </td>
            </tr>
        </tbody>
    </table>
<!-- <div class="row">
       
          <label class="col-md-2" style="margin-bottom: 10px;">Task</label>
          <label class="col-md-2" style="margin-bottom: 10px;">Parent</label>
          <label class="col-md-1" style="margin-bottom: 10px;">Priority</label>
          <label class="col-md-2" style="margin-bottom: 10px;">Start</label>
          <label class="col-md-2" style="margin-bottom: 10px;">End</label>
       
</div>
<div class="row">
        <div class="col-md-2" style="background-color: lightgray;height: 55px;text-align: center;padding-top: 15px;margin-right: 10px;">{{task.task}}</div>
        <div class="col-md-2" style="background-color: lightgray;height: 55px;text-align: center;padding-top: 15px;margin-right: 10px;">{{task.parentTask}}</div>
        <div class="col-md-1" style="text-align: left;">{{task.priority}}</div>
        <div class="col-md-2" style="text-align: left;">{{task.startDate | date:'dd-MM-yyyy'}}</div>
        <div class="col-md-2" style="text-align: left;">{{task.endDate  | date:'dd-MM-yyyy'}}</div>
        <div class="col-md-3" *ngIf="task.status === 'active'">
        <button type="button" (click)="editTask(task)" class="btn btn-secondary" >Edit</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-secondary" (click)="endTask(task)">End Task</button> 
        </div>
</div>                 -->

</div>
    <router-outlet></router-outlet>
</div>


